/* File:        style.css
 * Author:      Erik Johannes Husom
 * Description: Style for Skathi website
 */

:root {
    --main-font-color: rgb(57, 56, 56);
    --secondary-font-color: rgb(142, 142, 142);
	--main-background: #eee;
}

html, body {
	/* height: 100; */
	/* margin: 0; */
	/* padding: 0; */
}

body {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* color: var(--main-font-color); */
    /* box-sizing: border-box; */
    /* Constraining width, and centering */
    /* max-width: 50em; */
    /* margin: auto; */
    /* padding-left: 5%; */
    /* padding-right: 5%; */
}

header {
	text-align: center;
}

.logo-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* position: relative; */
	/* height: 100%; */
	/* width: 100%; */


	/* position: absolute; */
	/* margin: 0; */
	/* padding: 0; */
	/* display: flex; */
	/* justify-content: center; */
	/* text-align: center; */
	/* margin-top: 50px; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* width: auto; */
	/* height: auto; */
}

.logo {
	width: 150px;
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	/* bottom: 0; */
	/* margin: auto; */
	/* display: inline-block; */
	/* max-width: 50px; */
}

.navbar {
	/* background-color: var(--darkbackground); */
	color: rgb(108 43 217 / var(--tw-text-opacity));
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.navbar li {
	padding: 0 15px;
}
.navbar a {
	text-decoration: none;
	color: rgb(108 43 217 / var(--tw-text-opacity));
	font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px 0;
    /* background-color: #fff; */
	margin-top: 2em;
    /* border-top: 1px solid #eaeaea; */
}
